# JourneyMap: orientation = North
minimap_north_locked = true

# JourneyMap: allowMiniMapBehindScreens = true
hide_minimap_under_screen = false

# JourneyMap: autoRemoveDeathpoints = false
delete_reached_deathpoints = false

# JourneyMap: waypoint minDistance = 4 (шаг опции в Xaero — 5)
waypoint_min_distance_in_world = 5.0

# JourneyMap: mapPlants = false
minimap_display_flowers = false
