<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" shutdownHook="disable">
    <filters>
        <RegexFilter regex="Empty or non-existent pool: .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Failed to parse either\..*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Skipping Entity with id.*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Ignoring unknown attribute .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Encountered unknown or non-serializable data attachment .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Tried to load invalid (item|fluid): .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Tried to access a block entity before it was created\..*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Tried to load a (DUMMY block entity|block entity for block) .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Trying to set block entity .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="POI data mismatch: .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Detected setBlock in a far chunk .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Empty height range: .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Skipped emitting ENTITY_MOUNT game event .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Discarding @Unique .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="@ModifyConstant conflict\. .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Error loading class: .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="@Mixin target .* was not found .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Reference map '.*' for .* could not be read\..*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="\[Load My F\*\*\*ing Tags\]: It seems that some tags are a bit cooked\..*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Selling Bin Processor .* is not registered!.*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Could not find value '.*' in registry '.*' for @RegistryEntryAcceptor!" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="handleDisconnection\(\) called twice" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Mismatch in destroy block pos: .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Failed to fetch skin 'mojang:.*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="(Server handling Packets\.CNS_AttackRequest|Selected slot server|Off-hand stack|Main-hand stack).*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="(?s).*Failed to parse recipe '.*'!.*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Detected .* that was registered with .* mob category but was added under .* mob category .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Found reference to unknown structure 'farmers_structures:.*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Found loot table element validation problem in .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Assets URL '.*' uses unexpected schema.*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="\[Load My F\*\*\*ing Tags\]: Couldn't load certain entries within the tag .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="(?s)Couldn't load tag .* as it is missing following references:.*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Unknown structure start: farmers_structures:.*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Couldn't set damage of loot item .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Sending item configs to client" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="Sending \d+ bag types to .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="\[ShulkerBoxTooltip\] .*: protocol version: .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <RegexFilter regex="\[voicechat\] (Received secret request of|Sent secret to|Successfully authenticated player|Successfully validated connection of player|Player .* successfully connected to voice chat|Disconnecting client) .*" onMatch="DENY" onMismatch="NEUTRAL"/>
        <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="NETWORK_PACKETS" onMatch="${sys:forge.logging.marker.networking:-DENY}" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="CLASSLOADING" onMatch="${sys:forge.logging.marker.classloading:-DENY}" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="LAUNCHPLUGIN" onMatch="${sys:forge.logging.marker.launchplugin:-DENY}" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="CLASSDUMP" onMatch="${sys:forge.logging.marker.classdump:-DENY}" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="AXFORM" onMatch="${sys:forge.logging.marker.axform:-DENY}" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="EVENTBUS" onMatch="${sys:forge.logging.marker.eventbus:-DENY}" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="DISTXFORM" onMatch="${sys:forge.logging.marker.distxform:-DENY}" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="SCAN" onMatch="${sys:forge.logging.marker.scan:-DENY}" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="REGISTRIES" onMatch="${sys:forge.logging.marker.registries:-DENY}" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="REGISTRYDUMP" onMatch="${sys:forge.logging.marker.registrydump:-DENY}" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="SPLASH" onMatch="${sys:forge.logging.marker.splash:-DENY}" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="RESOURCE-CACHE" onMatch="${sys:forge.logging.marker.resource.cache:-DENY}" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="FORGEMOD" onMatch="${sys:forge.logging.marker.forgemod:-ACCEPT}" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="LOADING" onMatch="${sys:forge.logging.marker.loading:-ACCEPT}" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="CORE" onMatch="${sys:forge.logging.marker.core:-ACCEPT}" onMismatch="NEUTRAL"/>
    </filters>
    <Appenders>
        <TerminalConsole name="Console">
            <PatternLayout>
                <LoggerNamePatternSelector defaultPattern="%highlightForge{[%d{HH:mm:ss}] [%t/%level] [%c{2.}/%markerSimpleName]: %minecraftFormatting{%msg{nolookup}}%n%tEx}">
                    <PatternMatch key="net.minecraft." pattern="%highlightForge{[%d{HH:mm:ss}] [%t/%level] [minecraft/%logger{1}]: %minecraftFormatting{%msg{nolookup}}%n%tEx}"/>
                    <PatternMatch key="com.mojang." pattern="%highlightForge{[%d{HH:mm:ss}] [%t/%level] [mojang/%logger{1}]: %minecraftFormatting{%msg{nolookup}}%n%tEx}"/>
                </LoggerNamePatternSelector>
            </PatternLayout>
        </TerminalConsole>
        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{ddMMMyyyy HH:mm:ss.SSS}] [%t/%level] [%logger/%markerSimpleName]: %minecraftFormatting{%msg{nolookup}}{strip}%n%xEx"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="7" fileIndex="min"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger level="${sys:forge.logging.mojang.level:-info}" name="com.mojang"/>
        <Logger level="${sys:forge.logging.mojang.level:-info}" name="net.minecraft"/>
        <Logger level="${sys:forge.logging.classtransformer.level:-info}" name="cpw.mods.modlauncher.ClassTransformer"/>
        <Logger name="io.netty.util.internal.PlatformDependent0">
            <filters>
                <RegexFilter regex="^direct buffer constructor: unavailable$" onMatch="DENY" onMismatch="NEUTRAL" />
                <RegexFilter regex="^jdk\.internal\.misc\.Unsafe\.allocateUninitializedArray\(int\): unavailable$" onMatch="DENY" onMismatch="NEUTRAL" />
            </filters>
        </Logger>
        <Root level="all">
            <AppenderRef ref="Console" level="${sys:forge.logging.console.level:-info}"/>
            <AppenderRef ref="File" level="${sys:forge.logging.file.level:-info}"/>
        </Root>
    </Loggers>
</Configuration>
